#calculator {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
    box-shadow: 0px 0px 4px lightblue;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px lightgray;
  padding: 1rem;
  cursor: pointer;
}

#display {
  grid-column: span 4;
  padding: 1.2rem 10px;
  background: #eeeded;
  text-align: right;
  font-size: 1.6rem;
  height: 20px;
}

#calculator #clear {
  grid-column: span 2;
  background: red;
  color: white;
}
#zero {
  grid-column: span 2;
}

#equals {
  grid-column: span 2/-1;
  background: green;
  color: white;
}

.operator {
  background: blueviolet;
  color: white;
}
.item:hover {
  border: 1px solid green;
}

@media screen and (max-width:425px){
  #calculator{
    width:90%;
  }
}